<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Blog 📝</title>
</head>

<header>
    <div class="nav">
        
     <img class="logo" src="/images/House.png" alt="House Music">
     <a class="about" href="/about"> About</a>
    </div>
    
    <form action="/create">
        <input type="submit" value="+"  class="new-blog"/>
      </form>
</header>
<body>
    
</body>
</html>