<h1>
    Blog
</h1>

<h2>blog entry</h2>
<% if (locals.message && locals.author) { %>
    <h2>
      <%= message %>
    </h2>
    <h3> <%= author %> </h3>
 <% } else { %>
    <h1>
      No entry Roman ugly
    </h1>
<% } %>