body {
    font-family: "Poppins", sans-serif;
    margin: 100px 100px 0 100px;
    background-color: silver;
    
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }


.new-blog {
    position: fixed;
    background-color: silver;
    border-radius: 50%;
    left: 60%;
    height: 40px;
    width: 40px;
    
}
  .new-blog:hover {
    background-color: black;
    color: white;
  }

  .nav{
    display: flex;
    background-color: rgb(34, 31, 31);
  }
.logo{
  height: 7rem;
  width: 7rem;
}

/* .main{
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
} */

.single-post{
  list-style-type: none;
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
  padding-bottom: 20px;
  width: 50%;
  
  
}

.edit-button {
  border: 2px solid white;
  color: white;
  background-color: black;
}