body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #007F73;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }


.new-blog {
    display: flex;
    background-color: #FFF455;
    border-radius: 50%;
}

